@import 'partials/variables';
@import 'partials/navmenu';
@import 'partials/mixins';
#main-container {
    width: 100%;
    background-color: $accentLight;
}

.dev-section {
    width: 70%;
    margin: auto;
    height: 200px;
}

#top-section {
    background-color: $accentBackground;
}

#middle-section {
    background-color: $brandTextColor;
}

#lower-section {
    background-color: $brandTextColor;
}

#main-footer {
    width: 100%;
    height: 100px;
    background-color: $brandBackground;
    @extend .extend-class;
}

.extend-class {
    border: 5px solid black;
}

p {
    @if $num==2 {
        font-size: 20px;
    }
    @else if $num==1 {
        font-size: 5px;
    }
    @else {
        font-size: 10px;
    }
}

.box-red {
    @include boxStyle(100px, 100px, red);
}